# Git 相关
.git
.gitignore
.gitattributes

# IDE 和编辑器
.vscode/
.idea/

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/


# 测试相关
.pytest_cache/
.coverage
htmlcov/

# 日志
*.log

# 临时文件
tmp/
temp/
*.tmp

# db
*.db
*.db-shm
*.db-wal